/*Main Styles*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Barlow', sans-serif;
}

.nav a:link { 
	text-decoration: none; 
	color:black;
}

.nav a:visited { 
	text-decoration: none; 
	color:black;
}


.nav a:active { 
	text-decoration: none; 
	color:black;
}

ul, li {
	list-style-type: none;
	padding:0;
	margin:0;
}

header {
	background-color: #d9b6a7;
	margin:0;
}

.main-header, 
.nav, nav {
	display:flex;
	flex-direction: column;
}

.name {
	text-align: center;
	font-style: normal;
	font-weight:600;
}

.nav {
	margin:1.25em 0;
}

.nav a {
	display:block;
	font-size:1.125em;
	font-style: normal;
	font-weight:600;
	text-align: center;
	padding:.4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color:#900404;
	text-decoration: none;
	border-bottom-color: #400f0e;
}

.item {
	background-color: #b3918f;
	margin:1px;
}

.profile-pic {
	height:125px;
	align-self:center;
	margin-top:3em;
	margin-bottom:0;
}

.intro-p {
	padding:2em;
}

#portfolio,
#contact, #skills {
	display:flex;
	flex-direction: column;
}

div {		
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	margin:0 auto;
	font-family: 'Rubik', sans-serif;
	padding-top:0;
	padding-bottom:2em;
	text-align:center;
}

img {
	height:160px;
	align-self:center;
}

h2 {
	font-size:1em;
	text-align:center;
	padding:2em;
	margin:0;
}

h3 {
	font-size:1.5em;
	font-weight:600;
	text-align: center;
}

.contact-info {
	display:flex;
	flex-direction:column;
}

.items {
	align-self: center;
	padding:.5em;
	font-size:1.125em;
}

.contact-a:hover {
	color:#900404;
}

footer {
	display:flex;
	flex-direction: column;
	background-color: #d9b6a7;
	margin:0;
}

.footer-nav, #bot-footer {
	display:flex;
	flex-direction: row;
}

#bot-footer {
	justify-content: space-between;
	border-top: 1px solid #ebecec;
	margin-top:1.5em;
}

footer a:link { 
	text-decoration: none; 
	color:black;
	font-style: normal;
	font-weight:600;
}

footer a:visited { 
	text-decoration: none; 
	color:black;
	font-style: normal;
	font-weight:600;
}


footer a:active { 
	text-decoration: none; 
	color:black;
	font-style: normal;
	font-weight:600;
}

footer a:hover {
	color:#900404;
	text-decoration: none;
	border-bottom: 1px solid #400f0e;
	font-style: normal;
	font-weight:600;
}

.bot-items, .bot-name {
	margin:1em;
	padding:1em;
	font-style: normal;
	font-weight:600;
	font-size: .9em;
}

/*MEDIA QUERIES*/

@media screen and (min-width:481px) {
	.bot-send {
		display:none;
	}
	.bot-items, .bot-name {
		margin:1.2em 0;
		padding:.4em;
	}
}

@media screen and (max-width:481px) {
	.bot-home, .bot-port, .bot-contact, .bot-skills {
		display:none;
	}
}

@media screen and (min-width:768px) {
	.main-header ,.nav , nav {
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:center;
		width: 100vw;
	}
	.item {
		background-color: transparent;
	}
	.nav a {
		display:inline;
		flex:1;
		padding:.4em;
		border-bottom: none;
		margin-bottom: 4em;
	}
	.profile-pic {
		order:1;
		align-self: center;
		margin:1.25em 2em 3em 2em;
	}
	.intro-p {
		text-align: left;
		align-self: center;
		width:60vw;
		padding:2em;
		margin:1em 2em 3em 0;
	}
	#portfolio, #skills {
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.portfolio-head, .skills-head {
		width:100vw;
	}
	div {
		flex:1;
		width:50vw;
		padding: 1em;
	}
	p {
		padding-bottom:0;
	}
	.contact-p {
		align-self: center;
		width:55vw;
		margin-bottom: 2em;
	}
	.bot-items, .bot-name {
		margin:1.2em 0;
		font-size: 1em;
	}
}

@media screen and (min-width:1024px) {
	nav {
		flex-wrap:nowrap;
		justify-content: space-between;
	}
	.nav {
		width:35vw;
	}
	.name {
		margin-left: .4em;
	}

}
