/*Main Styles*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Barlow', sans-serif;
}

a:link { 
	text-decoration: none; 
	color:black;
}

a:visited { 
	text-decoration: none; 
	color:black;
}


a:active { 
	text-decoration: none; 
	color:black;
}

ul, li {
	list-style-type: none;
	padding:0;
	margin:0;
}

header {
	background-color: #fafafa;
	margin:0;
}

.main-header, 
.nav {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.name {
	text-align: center;
}

.nav {
	margin-top:1.25em;
}

.nav a {
	display:block;
	font-size:1.125em;
	font-weight:300;
	text-align: center;
	padding:.4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color:#900404;
	text-decoration: none;
	border-bottom-color: #400f0e;
}

.item {
	background-color: whitesmoke;
	margin:1px;
}

.profile-pic {
	height:125px;
	align-self:center;
	margin-top:3em;
	margin-bottom:0;
}

.intro-p {
	padding:2em;
}

#portfolio,
#contact {
	display:flex;
	flex-direction: column;
}

/*.marketing-div, .search-div, .travel-div, .map-div, .gallery-div, .calculator-div {
	display:flex;
	flex-direction: column;
}*/

p {
	margin:0;
	padding-top:0;
	padding-bottom:2em;
	text-align:center;
}

img {
	height:160px;
	align-self:center;
}

h2 {
	font-size:1em;
	text-align:center;
	padding:2em;
	margin:0;
}

h3 {
	font-size:1.5em;
	text-align: center;
}

.contact-info {
	display:flex;
	flex-direction:column;
}


.items {
	align-self: center;
	padding:.5em;
	font-size:1.125em;
}

.contact-a:hover {
	color:#900404;
}

.footer-nav {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #ebecec;
	margin-top:1.5em;
}

.bot-items {
	padding:1em;
	font-weight:bold;
	font-size: .9em;
}

/*MEDIA QUERIES*/

@media (min-width:768px) {


}

@media (min-width:1024px) {


}
