/*Main Styles*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Barlow', sans-serif;
}

.nav a:link { 
	text-decoration: none; 
	color:black;
}

.nav a:visited { 
	text-decoration: none; 
	color:black;
}


.nav a:active { 
	text-decoration: none; 
	color:black;
}

ul, li {
	list-style-type: none;
	padding:0;
	margin:0;
}

header {
	background-color: #fafafa;
	margin:0;
}

.main-header, 
.nav {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.name {
	text-align: center;
}

.nav {
	margin-top:1.25em;
}

.nav a {
	display:block;
	font-size:1.125em;
	font-weight:300;
	text-align: center;
	padding:.4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color:#900404;
	text-decoration: none;
	border-bottom-color: #400f0e;
}

.item {
	background-color: whitesmoke;
	margin:1px;
}

.profile-pic {
	height:125px;
	align-self:center;
	margin-top:3em;
	margin-bottom:0;
}

.intro-p {
	padding:2em;
}

#portfolio,
#contact {
	display:flex;
	flex-direction: column;
}

div {		
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	margin:0 auto;
	padding-top:0;
	padding-bottom:2em;
	text-align:center;
}

img {
	height:160px;
	align-self:center;
}

h2 {
	font-size:1em;
	text-align:center;
	padding:2em;
	margin:0;
}

h3 {
	font-size:1.5em;
	text-align: center;
}

.contact-info {
	display:flex;
	flex-direction:column;
}

.items {
	align-self: center;
	padding:.5em;
	font-size:1.125em;
}

.contact-a:hover {
	color:#900404;
}

footer {
	background-color: #fafafa;
	margin:0;
}

.footer-nav {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #ebecec;
	margin-top:1.5em;
}

footer a:link { 
	text-decoration: none; 
	color:black;
	font-weight: bold;
}

footer a:visited { 
	text-decoration: none; 
	color:black;
	font-weight: bold;
}


footer a:active { 
	text-decoration: none; 
	color:black;
	font-weight: bold;
}

footer a:hover {
	color:#900404;
	text-decoration: none;
	border-bottom: 1px solid #400f0e;
	font-weight: bold;
}

.bot-items {
	padding:1em;
	font-weight:bold;
	font-size: .9em;
}

/*MEDIA QUERIES*/

@media screen and (min-width:768px) {
	.main-header ,.nav {
		display:flex;
		flex-direction:row;
		justify-content:center;
		width:100vw;
	}
	.name {
		width:100vw;
	}
	.nav a {
		flex:1;
		font-size:1.125em;
		font-weight:300;
		text-align: center;
		padding:.4em;
		border-bottom: none;
		margin-bottom: 4em;
	}
	.profile-pic {
		order:1;
		align-self: center;
		margin-top:0;
		margin-bottom:3em;
	}
	.intro-p {
		text-align: left;
		align-self: center;
		width:60vw;
		padding:2em;
		margin-bottom:3em;
	}
	#portfolio {
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.portfolio-head {
		width:100vw;
	}
	div {
		flex:1;
		width:50vw;
		padding: 1em;
	}
	p {
		padding-bottom:0;
	}
}

@media screen and (min-width:1024px) {


}
